* {
    box-sizing: border-box;
    font-family: 'Indie Flower', cursive;
}
section {
    display: grid;
    grid-template-columns: repeat(3, 180px);
    grid-template-rows: repeat(3, 180px);
    gap: 0;
}

h1 {
    font-size: 3rem;
    text-shadow: 2px 5px #888888
}

p {
    font-size: 2rem;
}

.result {
    font-size: 3rem;
}
section button {
    height: 180px;
    width: 180px;
    border-radius: 10%;
    font-size: 4rem;
}
.shadow {
    box-shadow: 5px 10px #888888;
}
.no-shadow {
    height: 180px;
    width: 180px;
    border-radius: 10%;
    font-size: 4rem;
    box-shadow: none;
}

.reset-button {
    height: 4rem;
    width: 10rem;
    border-radius: 5%;
    font-size: 2rem;
    box-shadow: 5px 10px #888888
}